.highslide-html {
	background-color: white;
}
.highslide-html-blur {
	
}
.highslide-html-content {
	position: absolute;
	display: none;
}
.highslide-loading {
	display: block;
	color: black;
	font-size: 8pt;
	font-family: sans-serif;
	font-weight: bold;
	text-decoration: none;
	padding: 2px;
	border: 1px solid black;
	background-color: white;
	padding-left: 22px;
	background-image: url(../lib/highslide/graphics/loader.white.gif);
	background-repeat: no-repeat;
	background-position: 3px 1px;
}
a.highslide-credits,
a.highslide-credits i {
	padding: 2px;
	color: silver;
	text-decoration: none;
	font-size: 10px;
}
a.highslide-credits:hover,
a.highslide-credits:hover i {
	color: white;
	background-color: gray;
}
/* Styles for the popup */
.highslide-wrapper {
	background-color: white;
}
.highslide-wrapper .highslide-html-content {
	width: 800px;
	padding: 0px;
	padding-left: 8px;
}
.highslide-wrapper .highslide-html-content-small {
	width: 400px;
	padding: 0px;
	padding-left: 8px;
}
.highslide-wrapper .highslide-header div {
	
}
.highslide-wrapper .highslide-header ul {
	margin: 0;
	padding: 5px;
	text-align: right;
}
.highslide-wrapper .highslide-header ul li {
	display: inline;
	padding-left: 1em;
}
.highslide-wrapper .highslide-header ul li.highslide-previous, .highslide-wrapper .highslide-header ul li.highslide-next {
	display: none;
}
.highslide-wrapper .highslide-header a {
	font-weight: bold;
	color: gray;
	text-transform: uppercase;
	text-decoration: none;
}
.highslide-wrapper .highslide-header a:hover {
	color: black;
}
.highslide-wrapper .highslide-header .highslide-move a {
	cursor: move;
}
.highslide-wrapper .highslide-footer {
	height: 0px;
}
.highslide-wrapper .highslide-footer .highslide-resize {
	float: right;
	height: 11px;
	width: 11px;
	background: url(../lib/highslide/graphics/resize.gif);
}
.highslide-wrapper .highslide-body {
	width:800px;
	height:400px;
	text-align: left;
}
.highslide-move {
	cursor: move;
}
.highslide-resize {
	cursor: nw-resize;
}
/* These must be the last of the Highslide rules */
.highslide-display-block {
	display: block;
}
.highslide-display-none {
	display: none;
}